<h1>Listing noises</h1>

<table>
  <tr>
    <th>Sound</th>
    <th>Beast</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @noises.each do |noise| %>
  <tr>
    <td><%= noise.sound %></td>
    <td><%= noise.beast_id %></td>
    <td><%= link_to 'Show', noise %></td>
    <td><%= link_to 'Edit', edit_noise_path(noise) %></td>
    <td><%= link_to 'Destroy', noise, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Noise', new_noise_path %>
